@model HospitalApplication.Models.ViewModels.UpdateJob

@{
    ViewBag.Title = "Update Job";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Update Job</h2>
        <form class="form-horizontal" action="/Job/Update/@Model.SelectedJob.JobID" method="POST">
            <div style="display:none;">
                @* Pass through the job ID *@
                <input type="text" name="JobID" value="@Model.SelectedJob.JobID">
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="JobName">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="JobName" name="JobName" value="@Model.SelectedJob.JobName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="Name">Department</label>
                <select class="form-control" name="DeptID">
                    @foreach (var department in Model.DepartmentOptions) 
                    {
                        <option value="@department.DeptID">@department.DeptName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="JobSalary">Salary</label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="JobSalary" name="JobSalary" value="@Model.SelectedJob.JobSalary">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="JobHour">Hours</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="JobHour" name="JobHour" rows="5" value="@Model.SelectedJob.JobHour" ">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="JobDescription">Content</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="JobDescription" name="JobDescription" rows="5">@Model.SelectedJob.JobDescription</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-default" type="submit">Update Job</button>
                </div>
            </div>
        </form>
    </div>
</div>

