@model HospitalApplication.Models.ViewModels.UpdateDonor
@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Update Donor</h2>
        <form class="form-horizontal" action="/Donor/Update/@Model.SelectedDonor.DonorID" method="POST">
            <div style="display:none;">
                @* Pass through the Donor ID *@
                <input type="text" name="DonorID" value="@Model.SelectedDonor.DonorID">
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DonorName">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="DonorName" name="DonorName" value="@Model.SelectedDonor.DonorName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DonorEmail">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" type="email" id="DonorEmail" name="DonorEmail" value="@Model.SelectedDonor.DonorEmail">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DonorAddress">Address</label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="DonorAddress" name="DonorAddress" value="@Model.SelectedDonor.DonorAddress">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="DonorPhone">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" type="tel" id="DonorPhone" name="DonorPhone" value="@Model.SelectedDonor.DonorPhone">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-default" type="submit">Update Donor</button>
                </div>
            </div>
        </form>
    </div>
</div>
